.row{
    margin-right: 0px;
    margin-left: 0px;
}
.barWrapper{
    background-color: #4c4c4c;
    height: 100px;
    width: 100%;
    padding: 0px 33px;
}

.itemMenu{
    float: left;
    margin-right: 45px;
    color: #d8d8d8;
    font-size: 16px;
    cursor: pointer;
}

.itemMenu:hover{
   color: #FFF;     
}

.itemMenu span{
    vertical-align: middle;
    font-size: 16px;
}

.logo{
    width: 41px;
    height: 56px;
    cursor: pointer;
}

.settings-wrapper{
text-align: right;
}

.settings{
    font-size: 36px;
    color: #828282;
    line-height: 45px !important;
    cursor: pointer;
}

.settings:hover{
    color: #cecaca;
}

.thumb-down{
    background-color: #f49192;
    color: #FFF;    
    width: 114px;
    height: 45px;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
}

.thumb-down:hover{
    background-color: #dc7f80;
}

.thumb-down i{
    line-height: 45px;
}
.send{
    background-color: #828282;
    color: #FFF;
    border-radius: 22px;
    width: 168px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.send:hover{
    background-color: #6d6c6c;
}

.barSubMenuWrapper{
    height: 90px;
    background-color: #d8d8d8;
    display: none;
    /* visibility: hidden; */
}

#marker{
    position: absolute;
    top: 78px;
    left: 0px;
    color: #d8d8d8;
    font-size: 38px !important;
    display: none;
}
