.titles{
  font-size: 20px;
}

.container{
  min-width: 314px;
  text-align: center;
} 

.log-in-form{
  text-align: left;
}

.btn.btn-primary{
  margin: 15px 0;
}
.site-not-available{
text-align: center;
}

.custom-control-label{
  cursor: pointer;
}

.hide{
  display: none;
}
